/* NavBar.css */
.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content:center ;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding: 15px;
    display: inline-block;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }